<div class="login_container">
        <div class="wrap_login">
            <form class="for_form" (ngSubmit)="submitReset()" #ResetForm="ngForm" method="post" name="Reset">
                <span class="form_title">
                    <img src="assets/img/newlogo2.png" height="80px" />
                </span>

                <span class="input_label">Old Password</span>
                <div class="icon_input">
                    <i class="fas fa-unlock-alt icon"></i>
                    <input name="oldPassword" type="password" placeholder="Type your old password" [(ngModel)]="formData.oldPassword" #oldPassword="ngModel"
                        maxlength="32" [ngClass]="{'errors':oldPassword.errors && oldPassword.touched}" 
                        reverse="true" required="" />
    
                    <div *ngIf="oldPassword.errors && oldPassword.touched" class="red error">
                        <div *ngIf="oldPassword.errors.required">&nbsp;Password required,</div>
                        <div *ngIf="oldPassword.errors.minlength"> &nbsp;Minimum 8 Cheracter required,</div>
                        <div *ngIf="oldPassword.errors.maxlength">&nbsp; Maximum 32 Cheracter required</div>
                        <div *ngIf="oldPassword.errors.pattern">&nbsp;Example:- @abcDEF12,</div>
                    </div>
    
                </div>
                <br>
                <span class="input_label">New Password</span>
                <div class="icon_input">
                    <i class="fas fa-unlock-alt icon"></i>
                    <input name="newPassword" type="password" placeholder="Type your new password" [(ngModel)]="formData.newPassword" minlength="8" maxlength="32"
                        #newPassword="ngModel" [ngClass]="{'errors':newPassword.errors && newPassword.touched}" pattern="((?=.*\d)(?=.*[a-zA-Z]).*[0-9])"
                        reverse="true" required="" />
    
                    <div *ngIf="newPassword.errors && newPassword.touched" class="red error">
                        <div *ngIf="newPassword.errors.required">&nbsp;Password required,</div>
                        <div *ngIf="newPassword.errors.minlength"> &nbsp;Minimum 8 Cheracter required,</div>
                        <div *ngIf="newPassword.errors.maxlength">&nbsp; Maximum 32 Cheracter required</div>
                        <div *ngIf="newPassword.errors.pattern">&nbsp;Example:- @abcDEF12,</div>
                    </div>
    
                </div>
                <br>
    
                <span class="input_label">Confirm Password</span>
                <div class="icon_input">
                    <i class="fas fa-unlock-alt icon"></i>
                    <input name="confirmPassword" type="password" placeholder="Confirm password" [(ngModel)]="formData.confirmPassword" validateEqual="password"
                        #confirmPassword="ngModel" minlength="8" maxlength="32" [ngClass]="{'errors':confirmPassword.errors && confirmPassword.touched}"
                        reverse="false" required="" />
                    <div *ngIf="confirmPassword.errors && confirmPassword.touched" class="red error">
                        <div *ngIf="confirmPassword.errors.required">&nbsp;Password required,</div>
                        <div *ngIf="confirmPassword.errors.minlength">&nbsp; Minimum 8 Cheracter required,</div>
                        <div *ngIf="confirmPassword.errors.maxlength">&nbsp; Maximum 32 Cheracter required,</div>
                        <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)">
                            Password mismatch,
                        </small>
    
                    </div>
    
                </div>
 

    

                <button class="login_button" type="submit" value="submit" name="Reset" [disabled]="Reset.invalid">Reset Password</button>
            </form>
    

        </div>
    
    </div>