
    <div class="logo_serach_container">
      <div class="logo_container"><a href="#home"><img class="logo" src="assets/img/newlogo.png"></a></div>
      <div class="search_container"><input type="text" name="search" placeholder="search" />
        <button name="search button" class="search_button"><i class="fa fa-search"></i></button></div>
    </div>
        <ul class="dropdown">
          <li><a href="#contact">Trade</a>
            <ul class="dropdown-content">
              <li><a class="active" href="#">All Trad</a></li>
              <li><a class="active" href="#">Dispute Trades</a></li>
            </ul>
          </li>
          <li><a href="#contact">User</a>
            <ul class="dropdown-content">
              <li><a class="active" href="#">Registered Users</a></li>
              <li><a class="active" href="#">Report Users </a></li>
              <li><a class="active" href="#">Block Users</a></li>
              <li><a class="active" href="#">Zero Transection</a></li>
            </ul>
          </li>
          <li><a href="#contact">Coin Management</a>
            <ul class="dropdown-content">
              <li><a class="active" href="#">Add Coin</a></li>
              <li><a class="active" href="#">View All Currency</a></li>
            </ul>
          </li>
          <li><a href="#contact">Setting</a>
            <ul class="dropdown-content">
              <li><a class="active" href="#">Payment Method</a></li>
            </ul>
          </li>
        </ul>



        
          
 