<div class="full_page_container">
  <div class="nav_container">
    <div class="left_header">
      <ul>
        <li>
          <img src="assets/img/newlogo5.png" height="50px" />
        </li>
        <li>
          <a href="" style="color:#333">
            <i class="fas fa-bars"></i>
          </a>
        </li>
        <li>
          <a href="" style="color:#333">
            <i class="fa fa-history" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="right_header">
      <ul>
        <li>
          <a href="" style="color:#333">
            <i class="fas fa-power-off"></i>
          </a>
        </li>
        <li>
          <a href="" style="color:#333">
            <i class="fas fa-cog"></i>
          </a>
        </li>
        <li>
          <a href="" style="color:#333">
            <i class="far fa-bell"></i>
          </a>

        </li>
      </ul>
    </div>
  </div>

  <div id="wrapper">
    <aside id="sidebar" class="page-sidebar sidebar-fixed">
      <div class="sidebar-inner">
        <div class="slimScrollDiv">
          <div class="sidebar-scrollarea">
            <div class="sidebar-panel">
              <h5 class="sidebar-panel-title">Profile</h5>
            </div>
            <div class="user-info clearfix">
              <div class="user_profile">
                <img src="assets/img/user.png" />
                <span class="name">Name</span>
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-xs">
                    Edit Profile
                  </button>

                </div>
              </div>
              <div class="sidebar-panel">
                <h5 class="sidebar-panel-title">Navigation</h5>
              </div>
              <div class="side-nav">
                <ul class="nav">
                  <li>
                    <a routerLink="/user-dashboard">Dashborad</a>
                  </li>
                  <li>
                    <a routerLink="/trade">Trade</a>
                  </li>
                  <li>
                    <a routerLink="/orders">All Orders</a>

                  </li>

                  <li>
                    <a routerLink="/user-wallet">Wallet</a>
                  </li>

                </ul>

              </div>

            </div>

          </div>
        </div>
      </div>

    </aside>
  </div>

</div>