/*this is use for main container*/
.MainContainer{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  position: relative;
}
/*continer for routing secrtion */
.container{
  z-index: 2;
  width: 80%;
  margin-left: 20%;
  padding: 0px;
  margin-top: -130px;
  position: absolute;
  border: 0px ;
  overflow-x: scroll;
  color: rgb(145, 143, 143); 
}

.sub_container{
  padding: 5px;
  margin-top: 100px;
  
}
/*short by email, loction, and number*/
.short_by_email, .short_by_location, .short_by_number{
  width: 150px;
  height: 35px;
  font-size: 15px;
}

.container input[type="text"], input[type="date"]{
  width: 150px;
  height: 35px;
  font-size: 15px;
  padding-left: 5px;
}

.search_button2{
    width: 65px;
    height: 35px;
    font-size: 15px;
    padding-left: 5px;
    text-align: center;
    color: black;
 
}


/*class for total class*/
.total_user{
  float: right; 
  margin-top:0%;
  width:50%;
  margin-right: -20%;
  font-size:17px;
}
/*class for company logo*/
.logo_serach_container{
  width: 17%;
}
/*for search*/
.search_container{
  width: 100%;
  height: 50px;
}

.search_container input[type="text"]{
  width: 80%;
  height: 50px;
  float: left;
  padding: 0;
  border: 0px;
  text-align: center;
}
.search_button{
  width: 20%;
  height: 50px;
  border: 0px;
}

/*for all input*/
input[type="text"]:active{
  border: 0px;
  padding: 0px;
  margin: 0px;
}

input:focus {
  background-color: #eee;
  border: none;
}

/*this use for dropdown menu*/
.dropdown {
  width: 17%;
  position: absolute;
  display: inline-block;
  background-color: #9d9d9d;
  color: rgb(15, 15, 15);
  text-align: center;
}
/*for all ul*/
ul{
  list-style-type: none;
}
/*chiled of dropdown*/
.dropdown li {
  width: 100%;
  height: 45px;
  border-bottom: 1px solid white;
  line-height: 45px;
}
/*for all link font size*/
.dropdown li a{

  font-size: 15px;
}
/*all li width*/
.container ul li{
  width: 150px;
  float: left;
}
/*hover effect for all li*/
ul li:hover{
  background-color:  #9d9d9d;
  color:rgb(15, 15, 15);
}
/*for all dropdown content*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #9d9d9d;
  color:rgb(15, 15, 15);
  width: 100%;
  margin-left: 100%;
  margin-top: -45px;
  z-index: 5;
}

/*dropdown menu hover effect*/
li:hover .dropdown-content {
  display: block;
  color: white;
  background-color: #9d9d9d;
  border-left: 1px solid white;
}
/*target for submenu*/
ul li ul li:hover{
  background-color: rgb(15, 15, 15) #9d9d9d;
  color:#9d9d9d;
}


/*for table*/
table{
  border:1px solid rgb(87, 86, 86);
  width: 98%;
}
/*for table header*/

tr > th{
  width: auto;
  min-width: 140px;
  max-width: 140px;
  font-size: 14px;
  border:1px solid #999;
  color: rgb(73, 72, 72);
}

/*for table data*/
tr > td {
  font-size: 13px;
  border:1px solid rgb(90, 89, 89);
  color: rgb(71, 71, 71);
}

/*background color for all even number*/
tr:nth-child(even){background-color: #d4d4d4;}

/*background color for table row hover effect*/
.container tr:hover {
  background-color: rgb(175, 174, 174);
  border: 1px solid #fff;
  
}
/*table data hover effect*/
.container td:hover{
  color:white;
}

/*pagination*/

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #9D9D9D;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}