<app-user-nav></app-user-nav>


<div class="page-content clearfix collapsed-sidebar">
  <div class="page-content-wrapper">
    <div class="page-content-inner">
      <div id="#page-header" class="clearfix">
        <div class="page-header">
          <h2>Dashborad</h2>
          <span class="text">Welcome</span>
        </div>
        <div class="header-stats">
          <div class="spark clearfix">
            <div class="spark-info">
              <span class="number">.024454</span>
              Last Bid for Buy
            </div>

          </div>
          <div class="spark clearfix">
            <div class="spark-info">
              <span class="number">.98737</span>
              Last Bid for Sell
            </div>

          </div>


        </div>
      </div>

    </div>

  </div>

  <div class="row">

    <div class="col-lg-12 col-mg-12 col-sm-12 col-xs-12">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="float:left; background-color:rgb(218, 218, 218); margin-top:10px">
        <h3>Buy</h3>
        <div style="background-color:#E8E8E8;" class="buy-table">
          <table class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table" style=" padding:10px;">

            <tr style="background-color:#E8E8E8;">
              <th>Volume</th>
              <th>Price</th>
            </tr>
            <tbody>
              <tr style="background-color:rgb(245, 238, 238);">
                <td>.44343</td>
                <td>274.22</td>
              </tr>
              <tr style="background-color:rgb(245, 238, 238);">
                <td>.9822</td>
                <td>74.22</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="float:right; background-color:#E8E8E8; margin-top:10px">
        <h3>Sell</h3>
        <div style="background-color:#E8E8E8;" class="sell-table">
          <table class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table">

            <tr style="background-color:rgb(245, 238, 238);">
              <th>Volume</th>
              <th>Price</th>
            </tr>
            <tr style="background-color:rgb(245, 238, 238);">
              <td>.44343</td>
              <td>274.22</td>
            </tr>
            <tr style="background-color:rgb(245, 238, 238);">
              <td>.44343</td>
              <td>274.22</td>
            </tr>
          </table>
        </div>
      </div>


      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:right; background-color:#dff0d8; margin-top:10px">
          <h3>All Transection</h3>
          <div style="background-color:#E8E8E8;" class="sell-table">
            <table class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table">
  
              <tr style="background-color:rgb(245, 238, 238);">
                  <th>Order Id</th>

                  <th>Coin Name</th>
      
                  <th>Volume</th>
      
                  <th>Price</th>
      
                  <th>Type</th>
      
                  <th>Time</th>
      
                  <th>Date</th>
      
                  <th>Status</th>
              </tr>
              <tr style="background-color:rgb(245, 238, 238);">
                  <td>1</td>

                  <td>BTC</td>
    
                  <td>.2322</td>
    
                  <td>457</td>
    
                  <td>Buy</td>
    
                  <td>9:54am</td>
    
                  <td>17/05/2018</td>
    
                  <td>Sucess</td>
              </tr>
              <tr style="background-color:rgb(245, 238, 238);">
                  <td>2</td>

                  <td>Cash</td>
    
                  <td>.2322</td>
    
                  <td>457</td>
    
                  <td>Sell</td>
    
                  <td>5:54pm</td>
    
                  <td>17/05/2018</td>
    
                  <td>Sucess</td>
              </tr>
              <tr style="background-color:rgb(245, 238, 238);">
                  <td>3</td>

                  <td>LTC</td>
    
                  <td>.2322</td>
    
                  <td>457</td>
    
                  <td>Sell</td>
    
                  <td>12:54am</td>
    
                  <td>17/05/2018</td>
    
                  <td>Sucess</td>
              </tr>
            </table>
          </div>
        </div>
    </div>



  </div>
</div>



<app-footer></app-footer>