<!--this is use for main container-->
<div class="MainContainer">
  <!--this is use for left virtical menu-->
  <app-admin-nav></app-admin-nav>
  <app-admin-side-menu></app-admin-side-menu>
  <!--this is use for containt container-->
  <div class="container">
    <!--this is use for add coin input field-->
    <div width="100%">
      <span class="total_coin">Total Currency: 3</span>
    </div>
    <form (ngSubmit)="submitAddCoin()" #AddCoinForm="ngForm" method="get" name="AddCoin">
      <ul class="add_currency">
        <li>
          <span style="font-size:25px;">Add Currency</span>
        </li>
        <li>
          <input name="coinName" placeholder="Coin Name" type="text"
          [(ngModel)]="formData.coinName" #coinName="ngModel"
                placeholder="coinName" minlength="3" maxlength="25" 
                required="" autofocus="">
        </li>
        <li>
          <input name="symbol" placeholder="Symbol" type="text" [(ngModel)]="formData.symbol" #coinName="ngModel"
          placeholder="symbol" minlength="3" maxlength="25" 
          required="" autofocus="">
        </li>
        <li>
          <input name="supply" placeholder="Supply" type="text"
          [(ngModel)]="formData.supply" #supply="ngModel"
                placeholder="supply" minlength="3" maxlength="25" 
                required="" autofocus="">
        </li>
        <li>
          <input name="price" placeholder="Price" type="text"
          [(ngModel)]="formData.price" pattern="[0-9]*" #price="ngModel" type="text" name="price" placeholder="Price"
                minlength="1" maxlength="14" required="" autofocus="">
        </li>
        <li class="set_button">
          <button class="for_button1" value="Submit" name="AddCurrency" type="submit">Add Currnecy</button>
          <button class="for_button1" value="cancel" name="cancel" type=""> Cancel</button>
        </li>
      </ul>
    </form>
    <br>
    <br>
    <br>
    <!--in this table we show the all coin which is add by admin-->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Coin Name</th>
          <th>Symbol</th>
          <th>Initial Supply</th>
          <th>Price</th>
          <th>Date</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>BTC</td>
          <td>$</td>
          <td>20</td>
          <td>8000</td>
          <td>25/03/2018</td>
          <td>
            <button class="button_for_update_delete">Update</button>
          </td>
          <td>
            <button class="button_for_update_delete">Delete</button>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>BTC</td>
          <td>$</td>
          <td>30</td>
          <td>8000</td>
          <td>25/03/2018</td>
          <td>
            <button class="button_for_update_delete">Update</button>
          </td>
          <td>
            <button class="button_for_update_delete">Delete</button>
          </td>
        </tr>

        <tr>
          <td>3</td>
          <td>BTC</td>
          <td>$</td>
          <td>40</td>
          <td>8000</td>
          <td>25/03/2018</td>
          <td>
            <button class="button_for_update_delete">Update</button>
          </td>
          <td>
            <button class="button_for_update_delete">Delete</button>
          </td>
        </tr>


      </tbody>
    </table>




  </div>


</div>