<div class="full_container">
        <div class="col-lg-12 page_title">
            <div class="title_continer">
                <span class="bookmy">
                    <img src="assets/img/2x/Mainlogo.png" width="464px" hight="84px">
                </span>
                <br>
                <span class="logo_text">
                    <span style="color:#fff">Making yours investment</span>
                    <span style="color:#333">ZERO-RISK</span>
                </span>
            </div>
        </div>
        <div style="position: relative;">
            <div class="col-lg-9 wrap_page for_transparent">
                <span class="page_sub_title">
                    <span style="font-size:24px;display:block">WE WON'T
                        <span class="cust_color">FORGET</span> !
                    </span>
                    <span style="font-size:24px;display:block;padding:20px;">Dear User, </span>
    
                    <span class="cust_color">Thank You</span> for subscribing to our mail list. We will keep you posted with BookMyGain's progress at
                    every stage. If you haven't already, we would be pleased to hear your opinion on BookMyGain's Token Value.
                    Please click on
    
                    <span class="cust_color ">Vote Now</span> below to become a part of the World's First Democratic ICO, where you have the power to decide
                    our worth.
    
                    <span style="display:block;padding:34px 0px 83px 0px">
    
                        <button class="all_button" type="button" name="vote now" style="background-color:#23becf;">VOTE NOW</button>
    
                    </span>
                    <span style="display:block;padding-bottom: 35px;">
                        <span>BECOME</span>
                        <span class="cust_color">PREMIER</span> !</span>
                    <span style="text-align:left;">
                        <div class="for_content">Join Our Limited premiier list and book your tokern naow usd 1/BMG with exciting banifits</div>
    
                        <div class="main_heading">
                            <b>PRIMER BENIFITS</b>
                        </div>
                        <div class="sub_heading">
                            RESERVE RATE (USD 1/BMG) BOOKING
                        </div>
                        <div class="content">
                            Book your desired number of tokers at USD 1/BMG and make an instant profit if the price price of BMG is voted above the reserve
                            price.
                        </div>
                        <div class="sub_heading">
                            FRIST SMART-SWAP FREE
                        </div>
                        <div class="content">
                            All Premier Members will be rewarded with a 0% Risk Sharing Free for their First Smart-Swap for any amount and any of the
                            offereded tenures in the schedule.
                        </div>
                        <div class="sub_heading">
                            GAURENTEED ALLOTMENT
                        </div>
                        <div class="content">
                            In the event of over-subsription of our ICO, our premier members will be given guarenteed allotment of BMG Token during the
                            first 7 Days of the ICO.
                        </div>
                        <div class="sub_heading">
                            PRIORITY SUPPORT
                        </div>
                        <div class="content">
                            A Priority Primer Members only support group and channel will be provided to our approved members. Here all queries will
                            be Prioritiesed.
                        </div>
                        <div class="last_content">
                            Please click below if you wish to be one of our valuable investor and give us to oppurtunity to serve you batter.
    
                        </div>
                    </span>
                    <span style="display:block;padding:34px 0px 83px 0px">
                        <button class="all_button" type="button" name="vote now" style="background-color:#23becf;">JOIN PREMIER</button>
                    </span>
                    <span style="text-align:left;">
                        <span style="display:block;  font-size:20px;">
                            <span class="cust_color">Note</span>: All Premier Members are required to fulfill
                            <span class="cust_color"> KYC Requirements</span> to get approved.</span>
    
    
                        <span style="display:block; text-align:left; padding-top:38px;"> Kind Regards,</span>
                        <span style="display:block; text-align:left; padding-top:18px;">
                            <span class="cust_color">BookMyGain Support</span>
                        </span>
                    </span>
                </span>
    
    
    
    
            </div>
        </div>
        <div class="col-lg-12 col-sm-12 col-xs-12  last_wraper">
            <div class="col-lg-9 last-bg">
                <div class="for_gradent">
                    <div class="last_card">
                    <span style="display:block;text-align:center; color:#fff;padding-top:26px">
                        WWW.BOOKMYGAIN.COM
                    </span>
                    <span class="cust_color" style="display:block; text-align:left;padding-top:106px;padding: 65px 55px 0px 55px;">UNSUBSCRIBE
                        <span style="float:right;">
                            <i class="fab fa-telegram-plane all_icon"></i>
                            <i class="fab fa-facebook-f all_icon"></i>
                            <i class="fab fa-linkedin-in all_icon"></i>
                            <i class="fab fa-twitter all_icon"></i>
                            <i class="fab fa-youtube all_icon"></i>
                        </span>
                    </span>
                    <div style="text-align:left;padding: 18px 55px 23px 55px;color:#fff">
                        <span class="cust_color" style="text-align:left;">Risk</span>:
                        <span style=" text-align:left;padding: 18px 0pxpx 23px 0px">
                            It has survived not only five centuries, but also the leap into electronic typesetting, but also the leap into electronic
                            typesetting,
                        </span>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <footer class="col-lg-12 col-sm-12 col-xs-12  for_footer">
            <div class="col-lg-6 col-sm-12 col-xs-12 footer_conetent">
                <span style="text-align:center; height:45px; line-height:45px;width:auto; ">
                    &copy; Copyright 2018 BOOKMYGAIN</span><img src="assets/img/2x/footerlogo.png" style="padding-left: 20px; width:245px"/>
                    
                
            </div>
        </footer>