.container{
  width: 100%;
  max-height: 400px;
  padding-right: 0px;
  padding-left: 0px;
}
.carousel {
  margin-top: -21px;
}
/*slider arrow*/
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
  margin-right: -70px;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
  margin-left: -70px;
}

.for_price{
  background-color: #2DABAB;
}

ul{
  list-style-type: none;
 

}
ul li{
  float: left;
  text-align: center;
  width:50%;
  height:90px;
  line-height:40px;
  background-color: #2DABAB;
  color: white;
}

ul li h2, ul li h1{
  background-color: #2DABAB;
  padding: 0px;
}
