<div class="login_container">
        <div class="wrap_login">
            <form class="for_form" (ngSubmit)="submitForget" #forget="ngForm" method="post" name="forget">
                <span class="form_title">
                    <img src="assets/img/newlogo2.png" height="80px" />
                </span>
                <span class="input_label">Email</span>
                <div class="icon_input">
                    <i class="far fa-envelope icon"></i>
                    <input name="email" type="email" placeholder="Type your email" [(ngModel)]="formData.email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                        minlength="10" [ngClass]="{'error':email.errors && email.touched}" required="" />
    
                    <div *ngIf="email.errors && email.touched" class="red error">
    
                        <div *ngIf="email.errors.required">&nbsp;Email Id required,</div>
    
                        <div *ngIf="email.errors.minlength">&nbsp; Minimum 10 Cheracter required,</div>
    
                        <div *ngIf="email.errors.pattern">&nbsp; Enter Valid Email ID,</div>
    
                    </div>
    
                </div>
                <br>
                <span class="signup_button">
                    <a routerLink="/signup">Sign Up</a>
                </span>
    
                <span class="forget_button">
                    <a routerLink="/login">Log In</a>
                </span>
                <button class="login_button" type="submit" value="submit" name="foretForm" [disabled]="forgetForm.invalid">Forget Password</button>
            </form>
    
        </div>
    
    </div>