<div class="MainContainer">
    <app-admin-side-menu></app-admin-side-menu>

      <div class="container">
        <div width="100%">
          <span class="total_coin">Total Currency: 3</span>
        </div>
    <form>    
        <ul class="add_currency">
            <li><span style="font-size:20px;">Update Currency</span></li>
            <li><input name="coin name" placeholder="Coin Name" type="text"></li>
            <li><input name="symbol" placeholder="Symbol" type="text"></li>
            <li><input name="supply" placeholder="Supply" type="text"></li>
            <li><input name="price" placeholder="Price" type="text"></li>
            <li class="set_button">
              <button class="for_update" value="submit" name="new currency" type="button">Update</button>
              <button class="for_delete" value="cancel" name="cancel" type="button">Delete</button>
            </li>
      </ul>
    </form>
<br><br><br><br><br>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>S.No</th>
                <th>Coin Name</th>
                <th>Symbol</th>
                <th>Initial Supply</th>
                <th>Price</th>
                <th>Date</th>
                <th>Update</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>BTC</td>
                <td>$</td>
                <td>20</td>
                <td>8000</td>
                <td>25/03/2018</td>
                <td><button class="button_for_update_delete">Update</button></td>
                <td><button class="button_for_update_delete">Delete</button></td>
              </tr>
              <tr>
                  <td>2</td>
                  <td>BTC</td>
                  <td>$</td>
                  <td>30</td>
                  <td>8000</td>
                  <td>25/03/2018</td>
                  <td><button class="button_for_update_delete">Update</button></td>
                  <td><button class="button_for_update_delete">Delete</button></td>
              </tr>

              <tr>
                  <td>3</td>
                  <td>BTC</td>
                  <td>$</td>
                  <td>40</td>
                  <td>8000</td>
                  <td>25/03/2018</td>
                  <td><button class="button_for_update_delete">Update</button></td>
                  <td><button class="button_for_update_delete">Delete</button></td>
              </tr>

                                         
            </tbody>
          </table>




        </div>

        
</div>      